.assets {
  margin: 5px 20px;

  .asset {
    align-items: center;
    color: lighten($text-color, 20%);
    display: flex;
    font-size: 0.8em;
    justify-content: space-between;
    padding: 5px 10px;

    .asset-distribution {
      flex: 0 0 120px;
    }

    .asset-details {
      flex: 1 1 auto;
    }

    .asset-price {
      flex: 0 0 100px;
    }

    .fa {
      flex: 0 0 50px;
      text-align: center;
    }

    .asset-delta {
      flex: 0 0 80px;
      text-align: right;
    }
  }
}
