.reports.index {
  h4 {
    padding-left: 20px;
  }

  .report-details {
    background: #ffffff;
    box-shadow: $base-box-shadow;
    margin-bottom: 2em;
  }

  .rised {
    color: $green;
  }

  .falled {
    color: $red;
  }

  .report {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;

    &:hover {
      background-color: #d8eadd;
      cursor: pointer;
    }

    .report-status {
      flex: 0 0 100px;
    }

    .report-dates {
      flex: 1 1 auto;
    }

    .report-assets-number {
      flex: 0 0 150px;
    }

    .report-delta {
      flex: 0 0 90px;
      text-align: right;
    }
  }

  .asset-wrapper {
    max-height: 0px;
    overflow: hidden;
    transition: max-height ease 0.5s;

    &.active {
      max-height: 100vh;
    }
  }
}
